{% load mptt_tags %}

<div class="row mx-3">
    <ul>
        {% recursetree page.object_list %}
        <li>
            <div class="back_white border_line m-2" id="{{ node.id }}">
                <p class='mx-2'>By
                    <span class="fw-bold">{{ node.username }}</span>
                    <span class="fw-light fst-italic text-end">{{ node.created_on }}</span>
                </p>
                <hr>
                <div>
                    {{ node.text }}
                </div>
                <hr>
                <button class="btn btn-primary m-2" onclick="createReplyForm({{ node.id }})">
                    Reply <span class="fw-bold">{{ node.username }}</span>:
                </button>
            </div>

            {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</div>