{% load mptt_tags %}

<div class="row mx-3">
    <ul>
        {% recursetree tree_comment %}
        <li class="list-group-item">
            <div class="back_white border_line m-2" id="{{ node.id }}">
                <p class='d-flex justify-content-between mx-2 my-0'>
                    <span>By <span class="fw-bold"> {{ node.username }}</span></span>
                    <span class="fw-light fst-italic text-end">{{ node.created_on }}</span>
                </p>
                <p class="my-0 mx-2">{{ node.email }}</p>
                <hr class="my-1">
                <div class="mx-3">
                    {{ node.text }}
                </div>
                {% if node.url%}
                    <p class="mx-3">{{node.url}}</p>
                {%endif%}
                <hr class="my-1">
                <button class="btn btn-primary m-2" onclick="setReplyForm({{ node.id }})">
                    Reply <span class="fw-bold">{{ node.username }}</span>
                </button>

                {% if user.is_staff %}
                <a href='{% url "comments:delete_comment" id=node.id  %}'>
                    <button class="btn btn-primary m-2">Delete</button>
                </a>
                {% endif %}

            </div>


            {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</div>