:root {
  --all_width: 90%;
  --back_color: rgb(204, 248, 200);
}


body {
    font-family: "Montserrat", sans-serif;
    padding: 40px 40px 40px 40px;
    /* top, right, botom, left */
    background-color: rgb(148, 202, 238);
    background-repeat: space;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;

  }

.main_wrapper {
  display: flex;
  /* flex-direction: row-reverse; */
  background: var(--back_color);
  width: var(--all_width);
  /*центрирование*/
  margin: 0 auto;
  /*рамка тень */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.back_color {
  background-color: var(--back_color);
}

.back_white {
  background-color: white;
}

.border_line {
  border: 1px solid blue
}

.indent {
  text-indent: 12px;
}
